[Unit]
Description=Enables ZeliDeck autologin
Before=display-manager.service
[Service]
Type=oneshot
ExecStart=/usr/bin/zelideck-autologin
[Install]
WantedBy=multi-user.target
