[Desktop Entry]
Name=Game Mode
Exec=systemctl start return-to-gamemode.service
Terminal=false
Type=Application
StartupNotify=false
Icon=applications-games
