[Unit]
Description=Configure Zeliblue for current user
Requires=xdg-desktop-autostart.target
ConditionPathExists=!%h/.config/zeliblue/zeliblue-configured

[Service]
Type=simple
ExecStart=/usr/bin/zeliblue-user-setup

[Install]
WantedBy=default.target