[Unit]
Description=Zeliblue Update Oneshot Service

[Service]
Type=oneshot
ExecStart=/usr/bin/zeliblue-update
RemainAfterExit=no
Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
OOMScoreAdjust=1000
CPUWeight=30
CPUQuota=300%
IOWeight=30
