[Unit]
Description=Apply bootc updates
Documentation=man:bootc(8)
ConditionPathExists=/run/ostree-booted
After=network-online.target
Wants=network-online.target

[Timer]
OnBootSec=20m
OnUnitInactiveSec=6h
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target
