name: Zeliblue Stable
on:
  schedule:
    - cron:
        "00 06 * * 0" # build at 06:00 UTC every Sunday
        # (20 minutes after last ublue images start building)
  pull_request:
    branches:
      - main
    paths-ignore:
      - "./**.md"
      - "iso_files/**"
      - ".github/workflows/**-iso.yml"
  workflow_dispatch: # allow manually triggering builds

jobs:
  build_gnome:
    name: Zeliblue GNOME
    uses: ./.github/workflows/reusable-build-image.yml
    secrets: inherit
    with:
      image: zeliblue
      stream_name: stable
      kernel: coreos-stable
      os_version: "43"
  # build_deck:
  #   name: Zeliblue Deck
  #   uses: ./.github/workflows/reusable-build-image.yml
  #   secrets: inherit
  #   with:
  #     image: zeliblue-deck
  #     stream_name: stable
  #     kernel: bazzite
  #     os_version: "42"
